.subscribe-button {

  background-color: rgb(199, 0, 0);
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 8px;
  transition: opacity 1s;
  vertical-align: top;

}

.subscribe-button:hover {
  opacity: 0.8;

}

.subscribe-button:active {
  opacity: 0.4;
}

.join-button {

  background-color: white;
  border-color: rgb(80, 80, 255);
  border-style: solid;
  border-width: 1px;
  color: rgb(80, 80, 255);
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 1s, color 1s;
  vertical-align: top;

}


.join-button:hover {
  background-color:rgb(80, 80, 255);
  color: white;
}

.join-button:active {
  opacity: 0.8;
}


.tweet-button {

  background-color: rgb(29, 114, 226);
  color: white;
  border-style: none;
  height: 36px;
  width: 70px;
  border-radius: 18px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin-left: 8px;
  transition: box-shadow 0.15s;
  vertical-align: top;
  

}

.tweet-button:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.50);

}