p {
  font-family: Arial, Helvetica, sans-serif;
}

.Video-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  width: 280px;
  line-height: 22px;
  margin-bottom: 0;

}

.video-stats {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13.5px;
  color: rgb(96, 96, 96);
  margin-top: 5px;
  margin-bottom: 20px;
}

.video-author {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(96, 96, 96);
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 20px;
}

.video-description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(96, 96, 96);
  width: 280px;
  line-height: 18px;
  margin-bottom: 100px;

}


.apple-text {
  color: white;
  margin-bottom: 50px;
  font-size: 15px;
  background-color: rgb(255, 44, 44);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.shop {
  margin-left: 10px;
  font-weight: bold;
}


.shop:hover {
  text-decoration: underline;
  cursor: pointer;
}
